<a href="https://colab.research.google.com/github/wannasmile/colab_code_note/blob/main/BI0006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime, os

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import tensorflow as tf
from tensorflow import keras

import warnings
warnings.filterwarnings("ignore")

In [2]:
!wget https://raw.githubusercontent.com/wannasmile/colab_code_note/main/ChurnModelling.csv

--2024-03-04 17:28:58--  https://raw.githubusercontent.com/wannasmile/colab_code_note/main/ChurnModelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘ChurnModelling.csv.1’

ChurnModelling.csv. 100%[===================>] 668.81K  4.10MB/s    in 0.2s

2024-03-04 17:28:59 (4.10 MB/s) - ‘ChurnModelling.csv.1’ saved [684858/684858]

say goodbye to pandas documentation

In [3]:
dataset = pd.read_csv("ChurnModelling.csv") # 加载数据

In [4]:
!pip install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.9.2)

In [5]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [6]:
import duckdb
data_groupby_gender = duckdb.query("select Gender, sum(Exited) as ExitedCnt from dataset group by Gender").df()
data_groupby_gender.head()

   Gender  ExitedCnt
0    Male      898.0
1  Female     1139.0

In [7]:
import duckdb
dataset = shuffle(dataset)
data_balance_groupby_cid = duckdb.query('''

    select t.*
    from
    (
    select CustomerId
    ,Geography
    ,Gender
    ,Age
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='France'
    --limit 10
    ) t
    where rn<=10

    UNION ALL

    select t.*
    from
    (
    select CustomerId
    ,Geography
    ,Gender
    ,Age
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='Spain'
    --limit 10
    ) t
    where rn<=10

    UNION ALL

    select t.*
    from
    (
    select CustomerId
    ,Geography
    ,Gender
    ,Age
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='Germany'
    --limit 10
    ) t
    where rn<=10
''').df()
data_balance_groupby_cid.head(30)

,CustomerId,Geography,Gender,Age,Balance,GeographyBalanceAvg,GenderBalanceAvg,AgeBalanceAvg,rn
0,15634602,France,Female,42,0.00,62092.636516,60322.670159,63533.193831,1
1,15619304,France,Female,42,159660.80,62092.636516,60322.670159,63533.193831,2
2,15701354,France,Female,39,0.00,62092.636516,60322.670159,57124.620149,3
3,15592531,France,Male,50,0.00,62092.636516,63546.284875,69868.251034,4
4,15792365,France,Male,44,142051.07,62092.636516,63546.284875,67810.752927,5
5,15592389,France,Male,27,134603.88,62092.636516,63546.284875,57378.123190,6
6,15767821,France,Male,31,102016.72,62092.636516,63546.284875,62892.045505,7
7,15632264,France,Female,34,0.00,62092.636516,60322.670159,59226.748826,8
8,15691483,France,Female,25,0.00,62092.636516,60322.670159,54215.392609,9
9,15568982,France,Female,24,0.00,62092.636516,60322.670159,57562.646712,10
10,15647311,Spain,Female,41,83807.86,61818.147763,59862.092534,62645.693118,1
11,15737888,Spain,Female,43,125510.82,61818.147763,59862.092534,69749.182667,2
12,15574012,Spain,Male,44,113755.78,61818.147763,63352.833746,51310.589841,3
13,15737173,Spain,Male,24,0.00,61818.147763,63352.833746,76772.249688,4
14,15600882,Spain,Female,35,0.00,61818.147763,59862.092534,59051.012290,5
15,15788218,Spain,Female,24,0.00,61818.147763,59862.092534,76772.249688,6
16,15661507,Spain,Male,45,0.00,61818.147763,63352.833746,68375.919286,7
17,15597945,Spain,Female,32,0.00,61818.147763,59862.092534,60231.370515,8
18,15699309,Spain,Female,38,0.00,61818.147763,59862.092534,63394.543308,9
19,15589475,Spain,Female,39,0.00,61818.147763,59862.092534,64922.189174,10
20,15656148,Germany,Female,29,115046.74,119730.116134,119145.966471,120161.811781,1
21,15643966,Germany,Male,45,143129.41,119730.116134,120259.668222,122104.361644,2
22,15737452,Germany,Male,58,132602.88,119730.116134,120259.668222,127483.927917,3
23,15736816,Germany,Male,36,136815.64,119730.116134,120259.668222,115483.614792,4
24,15728693,Germany,Female,43,141349.43,119730.116134,119145.966471,117947.163059,5
25,15750181,Germany,Male,41,110112.54,119730.116134,120259.668222,118940.346471,6
26,15585768,Germany,Male,41,70349.48,119730.116134,120259.668222,118940.346471,7
27,15754849,Germany,Female,32,109421.13,119730.116134,119145.966471,120153.286500,8
28,15602280,Germany,Female,27,112045.67,119730.116134,119145.966471,127122.334773,9
29,15771573,Germany,Female,39,137843.80,119730.116134,119145.966471,120279.191000,10

In [8]:
import duckdb
dataset = shuffle(dataset)
data_balance_groupby_cid = duckdb.query('''

    select t.*
    from
    (
    select CustomerId
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='France'
    --limit 10
    ) t
    where rn<=10

    UNION ALL

    select t.*
    from
    (
    select CustomerId
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='Spain'
    --limit 10
    ) t
    where rn<=10

    UNION ALL

    select t.*
    from
    (
    select CustomerId
    ,Balance
    ,avg(Balance) over (partition by Geography order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GeographyBalanceAvg
    ,avg(Balance) over (partition by Gender order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as GenderBalanceAvg
    ,avg(Balance) over (partition by Age order by Balance asc ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as AgeBalanceAvg
    ,row_number() over (order by RowNumber asc) as rn
    from dataset
    where Geography='Germany'
    --limit 10
    ) t
    where rn<=10
''').df()
data_balance_groupby_cid.head(30)

,CustomerId,Balance,GeographyBalanceAvg,GenderBalanceAvg,AgeBalanceAvg,rn
0,15634602,0.00,62092.636516,60322.670159,63533.193831,1
1,15619304,159660.80,62092.636516,60322.670159,63533.193831,2
2,15701354,0.00,62092.636516,60322.670159,57124.620149,3
3,15592531,0.00,62092.636516,63546.284875,69868.251034,4
4,15792365,142051.07,62092.636516,63546.284875,67810.752927,5
5,15592389,134603.88,62092.636516,63546.284875,57378.123190,6
6,15767821,102016.72,62092.636516,63546.284875,62892.045505,7
7,15632264,0.00,62092.636516,60322.670159,59226.748826,8
8,15691483,0.00,62092.636516,60322.670159,54215.392609,9
9,15568982,0.00,62092.636516,60322.670159,57562.646712,10
10,15647311,83807.86,61818.147763,59862.092534,62645.693118,1
11,15737888,125510.82,61818.147763,59862.092534,69749.182667,2
12,15574012,113755.78,61818.147763,63352.833746,51310.589841,3
13,15737173,0.00,61818.147763,63352.833746,76772.249688,4
14,15600882,0.00,61818.147763,59862.092534,59051.012290,5
15,15788218,0.00,61818.147763,59862.092534,76772.249688,6
16,15661507,0.00,61818.147763,63352.833746,68375.919286,7
17,15597945,0.00,61818.147763,59862.092534,60231.370515,8
18,15699309,0.00,61818.147763,59862.092534,63394.543308,9
19,15589475,0.00,61818.147763,59862.092534,64922.189174,10
20,15656148,115046.74,119730.116134,119145.966471,120161.811781,1
21,15643966,143129.41,119730.116134,120259.668222,122104.361644,2
22,15737452,132602.88,119730.116134,120259.668222,127483.927917,3
23,15736816,136815.64,119730.116134,120259.668222,115483.614792,4
24,15728693,141349.43,119730.116134,119145.966471,117947.163059,5
25,15750181,110112.54,119730.116134,120259.668222,118940.346471,6
26,15585768,70349.48,119730.116134,120259.668222,118940.346471,7
27,15754849,109421.13,119730.116134,119145.966471,120153.286500,8
28,15602280,112045.67,119730.116134,119145.966471,127122.334773,9
29,15771573,137843.80,119730.116134,119145.966471,120279.191000,10